<!-- Botones -->
 <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal">
                    <i class="fa-solid fa-plus"></i>
                    Agregar cliente
                </a>
            </div>
        </div>
    </div>
 </section>

 <!-- Listado clientes -->
 <section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Listado de clientes</h4>
                    </div>
                    <table class="table table-secondary table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index" class="align-middle">
                                <td>{{i+1}}</td>
                                <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                                <td>{{cliente.saldo | currency:'ARS': '$'}}</td>
                                <td>
                                    <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </section>