<!-- Botones -->
 <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
                    <i class="fa-solid fa-plus"></i>
                    Agregar cliente
                </a>
            </div>
        </div>
    </div>
 </section>

 <!-- Listado clientes -->
 <section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Listado de clientes</h4>
                    </div>
                    <table class="table table-secondary table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index" class="align-middle">
                                <td>{{i+1}}</td>
                                <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                                <td>{{cliente.saldo | largeCurrency }}</td>
                                <td>
                                    <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tarjetas laterales-->
             <div class="col-lg-3">
               <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-1">
                 <div class="col">
                     <div class="card text-center bg-danger text-white mb-3">
                         <div class="card-body">
                             <h3>Saldo total</h3>
                             <h4 class="display-4">
                                 {{getSaldoTotal() | largeCurrency}}
                             </h4>
                         </div>
                     </div>
                  </div>
                  <div class="col">
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Clientes totales</h3>
                            <h4 class="display-4">
                                <i class="fa-solid fa-users"></i>
                                {{clientes.length}}
                            </h4>
                        </div>
                    </div>
                  </div>               
               </div>
             </div>
        </div>
    </div>
 </section>

 <!-- Modal agregar cliente -->
  <section>
    <div class="modal fade" id="agregarClienteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-info text-light">
              <h5 class="modal-title">Agregar cliente</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                #botonCerrarModal></button>
            </div>

            
            <form #clienteForm="ngForm" (ngSubmit)="agregar(clienteForm)">
              <div class="modal-body d-flex flex-column gap-2">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input id="nombre" 
                  type="text" 
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)] = cliente.nombre
                  required minlength="2"
                  [ngClass]="{'is-invalid': nombre.errors && nombre.touched}">
                  <div *ngIf="nombre.invalid && nombre.touched" 
                  class="invalid-feedback">
                    <span *ngIf="nombre.hasError('required')">Ingrese un nombre</span>
                    <span *ngIf="nombre.hasError('minlength')">El nombre es muy corto</span>
                  </div>
                </div>
              
              <div class="form-group">
                <label for="apellido">Apellido</label>
                <input 
                id="apellido" 
                type="text" 
                name="apellido"
                class="form-control"
                #apellido="ngModel"
                [(ngModel)] = cliente.apellido
                required minlength="2"
                [ngClass]="{'is-invalid': apellido.errors && apellido.touched }">
                <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                  <span *ngIf="apellido.hasError('required')">Ingrese un apellido</span>
                  <span *ngIf="apellido.hasError('minlength')">El apellido es muy corto</span>
                </div>
              </div>
              
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input 
                id="email" 
                type="email" 
                name="email"
                class="form-control"
                #email="ngModel"
                [(ngModel)] = cliente.email
                [ngClass]="{'is-invalid': email.errors && email.touched}"
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                  <span *ngIf="email.hasError('required')">Ingrese correo electrónico</span>
                  <span *ngIf="email.hasError('pattern')">El correo ingresado no es válido</span>
                </div>
              </div>
              <div class="form-group">
                <label for="saldo">Saldo</label>
                <input 
                id="saldo" 
                type="number" 
                name="saldo"
                class="form-control"
                #saldo="ngModel"
                [(ngModel)] = cliente.saldo
                [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                required min="0" max="9999999999999">
                <div *ngIf="saldo.invalid && saldo.touched" class="invalid-feedback">
                  <span *ngIf="saldo.hasError('required')">Ingrese saldo</span>
                  <span *ngIf="saldo.hasError('min')">El saldo no puede ser negativo</span>
                  <span *ngIf="saldo.hasError('max')">El saldo es demasiado grande</span>
                </div>
              </div>
            </div>

            <app-alert
              mensaje="El formulario contiene errores"
              [esVisible]="alertVisible"
              clase="alert-danger"
              (cambioVisibilidad)="alertCambioVisibilidad($event)"
            ></app-alert>

            <div class="modal-footer">
              <button 
              type="submit" 
              class="btn btn-primary">
              Guardar
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</section>