
<header id="main-header" class="py-2 bg-info text-light">
  <div class="container">
    <div class="row">
      <div class="col md 6">
        <h1><i class="fa-solid fa-user-pen"></i>{{ modoRegistro ? "Registro" : "Inicio de sesión" }}</h1>
      </div>
    </div>
  </div>
</header>

<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
  <section id="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card my-4 col-md-8 col-lg-6 pt-3 transparency">
          <div class="card-header mb-2">
            <h5 class="card-title p-1">{{ modoRegistro ? "Crear una cuenta" : "Indicar datos para ingresar" }}</h5>
          </div>
          <app-alert
                  [mensaje]="alertMensaje"
                  [esVisible]="alertVisible"
                  clase="alert-danger"
                  (cambioVisibilidad)="alertCambioVisibilidad($event)"
                  [tiempo]=5000
                ></app-alert>
          <div class="card-body">
            <div class="row row-cols-1 gy-3 px-2 pb-2"
              [ngClass]="{'row-cols-md-2': !modoRegistro}">
              <div class="col">
                <label for="usuario">Correo electrónico</label>
                <input 
                  id="usuario" 
                  class="form-control underlined" 
                  name="usuario" 
                  type="email" 
                  #usuario="ngModel"
                  [(ngModel)]=email
                  [ngClass]="{'is-invalid': usuario.errors && usuario.touched}"
                  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                <div *ngIf="usuario.invalid && usuario.touched" class="invalid-feedback">
                  <span *ngIf="usuario.hasError('required')">Ingrese un correo electrónico</span>
                  <span *ngIf="usuario.hasError('pattern')">El correo no es válido</span>
                </div>
              </div>

              <div class="col">
                <label for="password">Contraseña</label>
                <input id="password" 
                  class="form-control underlined" 
                  name="password" 
                  type="password" 
                  #pass="ngModel"
                  [(ngModel)]="password"
                  [ngClass]="{'is-invalid': pass.errors && pass.touched}"
                  [minlength]="modoRegistro ? 6 : null"
                  required/>
                <div *ngIf="pass.invalid && pass.touched" class="invalid-feedback">
                  <span *ngIf="pass.hasError('required')">Contraseña requerida</span>
                  <span *ngIf="pass.hasError('minlength')">La contraseña debe tener 6 caractéres como mínimo</span>
                </div>
              </div>

              <div class="col" *ngIf="modoRegistro">
                <label for="passwordRep">Repetir contraseña</label>
                <input id="passwordRep" 
                  class="form-control underlined" 
                  name="passwordRep" 
                  type="password" 
                  #passRep="ngModel"
                  [(ngModel)]="passwordRep"
                  [ngClass]="{'is-invalid':pass.dirty && passRep.touched && passRep.value !== pass.value}" 
                  required/>
                <div *ngIf="pass.dirty && passRep.value !== pass.value" class="invalid-feedback">
                  <span>Las contraseñas no coinciden</span>
                </div>
              </div>
             
            </div>
            <div class="d-flex justify-content-center mt-3">
              <button type="submit" class="px-5 btn btn-submit">
                <i class="fa-solid fa-check"></i> Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
