<header id="main-header" class="py-2 bg-info text-light">
  <div class="container">
    <div class="row">
      <div class="col md 6">
        <h1>
          <i class="fa-solid fa-user-pen"></i> Editar cliente
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- Formulario cliente  -->
<form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">

  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row gap-md-5 gap-3 mx-0 px-0 justify-content-center">
        <a routerLink="/" class="col-sm-2 btn btn-secondary">
          <i class="fa-solid fa-arrow-left"></i> Regresar
        </a>
        <button type="submit" class="col-sm-2 btn btn-success">
          <i class="fa-solid fa-check"></i> Guardar
        </button>
        <button (click)="eliminar()" class="col-sm-2 btn btn-danger">
          <i class="fa-solid fa-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </section>
  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card mx-sm-5">
            <div class="card-header">
              <h4>Editar cliente</h4>
              <div class="card-body">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input id="nombre" type="text" name="nombre" class="form-control" #nombre="ngModel"
                    [(ngModel)]=cliente.nombre required minlength="2"
                    [ngClass]="{'is-invalid': nombre.errors && nombre.touched}">
                  <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback">
                    <span *ngIf="nombre.hasError('required')">Ingrese un nombre</span>
                    <span *ngIf="nombre.hasError('minlength')">El nombre es muy corto</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input id="apellido" type="text" name="apellido" class="form-control" #apellido="ngModel"
                    [(ngModel)]=cliente.apellido required minlength="2"
                    [ngClass]="{'is-invalid': apellido.errors && apellido.touched}">
                  <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                    <span *ngIf="apellido.hasError('required')">Ingrese un apellido</span>
                    <span *ngIf="apellido.hasError('minlength')">El apellido es muy corto</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Correo electrónico</label>
                  <input id="email" type="email" name="email" class="form-control" #email="ngModel"
                    [(ngModel)]=cliente.email [ngClass]="{'is-invalid': email.errors && email.touched}" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                    <span *ngIf="email.hasError('required')">Ingrese correo electrónico</span>
                    <span *ngIf="email.hasError('pattern')">El correo ingresado no es válido</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="saldo">Saldo</label>
                  <input id="saldo" type="number" name="saldo" class="form-control" #saldo="ngModel"
                    [(ngModel)]=cliente.saldo [ngClass]="{'is-invalid': saldo.errors && saldo.touched}" required
                    min="0">
                  <div *ngIf="saldo.invalid && saldo.touched" class="invalid-feedback">
                    <span *ngIf="saldo.hasError('required')">Ingrese saldo</span>
                    <span *ngIf="saldo.hasError('min')">El saldo no puede ser negativo</span>
                  </div>
                </div>

                <div class="alert alert-danger fade" role="alert" *ngIf="alertVisible"
                  [ngClass]="{ show: alertVisible }">
                  El formulario contiene errores
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>