app-root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-auth {
  flex: 1;
  display: flex;
  flex-direction: column;
  }
  
  app-auth form {
      margin: auto 0;
  }
  