app-root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* todos los app-* de los componentes que estan dentro del main */
main router-outlet + * {
  flex: 1;
  max-width: 100%;
}

app-auth {
  display: flex;
  flex-direction: column;
}

app-auth form {
    margin: auto 0;
}
  